<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>BDO</title>

    <script src="assets/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="ui grid container">
      <div class="sixteen wide column">
        <div class="ui menu">
          <a class="ui item" href="/">Katalog</a>
          <a class="ui item floated right" href="/">Zgłoś instalację</a>
        </div>
      </div>

      <div class="six wide computer sixteen wide mobile column">
        <template id="code-desc-row-template">
          <tr>
            <td class="code"></td>
            <td class="description"></td>
          </tr>
        </template>
        <template id="code-desc-header-row-template">
          <tr class="selected-waste-header">
            <th class="code"></th>
            <th class="description"></th>
          </tr>
        </template>
        <div class="ui fluid search card" id="search">
          <div class="content">
            <div class="header">Szukaj instalacji</div>
          </div>
          <div class="content">
            <form class="ui form">
              <div class="field">
                <label>Kod odpadu</label>
                <div class="ui icon input">
                  <input type="text" name="waste" placeholder="xxxxxx">
                  <i class="inverted circular search waste link icon"></i>
                </div>
                <div class="ui pointing label waste-hint code-a"></div>
                <div class="ui pointing label waste-hint code-b"></div>
                <div class="ui pointing label waste-hint code-c"></div>
              </div>
              <div class="field">
                <label>Proces przetwarzania</label>
                <div class="ui icon input">
                  <input type="text" name="process" placeholder="Rx/Dx">
                  <i class="inverted circular search process link icon"></i>
                </div>
                <div class="ui pointing label process-hint"></div>
              </div>
              <div class="field">
                <label>Województwo</label>
                <div class="ui icon input">
                  <select class="ui search selection simple dropdown" name="state">
                    <option value=""></option>
                    <option value="02">dolnośląskie</option>
                    <option value="04">kujawsko-pomorskie</option>
                    <option value="06">lubelskie</option>
                    <option value="08">lubuskie</option>
                    <option value="10">łódzkie</option>
                    <option value="12">małopolskie</option>
                    <option value="14">mazowieckie</option>
                    <option value="16">opolskie</option>
                    <option value="18">podkarpackie</option>
                    <option value="20">podlaskie</option>
                    <option value="22">pomorskie</option>
                    <option value="24">śląskie</option>
                    <option value="26">świętokrzyskie</option>
                    <option value="28">warmińsko-mazurskie</option>
                    <option value="30">wielkopolskie</option>
                    <option value="32">zachodniopomorskie</option>
                  </select>
                  <!--<i class="inverted circular location arrow link icon"></i>-->
                </div>
              </div>
              <button class="ui button" type="submit">Szukaj</button>
              <button class="ui button" type="reset">Wyczyść</button>
            </form>
          </div>
        </div>

        <div class="ui modal processes">
          <div class="header">
            Wyszukaj proces przetwarzania
          </div>
          <div class="scrolling content">
            <table class="ui selectable compact celled table">
              <thead>
                <tr>
                  <th>Kod</th>
                  <th>Opis</th>
                </tr>
              </thead>
              <tbody class="process-list">
              </tbody>
            </table>
          </div>
          <div class="actions">
            <div class="ui basic cancel button">
              <i class="checkmark icon"></i>
              Anuluj
            </div>
          </div>
        </div>

        <div class="ui modal wastes">
          <div class="header">
            Wyszukaj kod odpadu
          </div>
          <div class="scrolling content">
            <table class="ui selectable compact celled table">
              <thead class="waste-list-header">
                <tr>
                  <th>Kod</th>
                  <th>Opis</th>
                </tr>
              </thead>
              <tbody class="waste-list">
              </tbody>
            </table>
          </div>
          <div class="actions">
            <div class="ui basic cancel button">
              <i class="checkmark icon"></i>
              Anuluj
            </div>
          </div>
        </div>
      </div>

      <div class="ten wide computer sixteen wide mobile column" id="map">
      </div>

      <template id="installation-capability-template">
        <div class="ui label capability">
          <span class="ui label waste-code"></span>
          <span class="ui label process-code"></span>
          <span class="ui label quantity"></span>
        </div>
      </template>

      <template id="installation-template">
        <div class="ui card installation">
          <div class="content">
            <div class="header name"></div>
            <div class="meta address"></div>
            <div class="description">
              <div class="ui large labels capabilities">
              </div>
            </div>
          </div>
        </div>
      </template>

      <div class="sixteen wide column">
        <div class="ui two stackable cards" id="installations"></div>
      </div>
    </div>
  </body>

  <script type="module">
    import {ProcessSelectorView, WasteListView, InstallationRequest, updateUrlSearchParams} from "./js/app.js"
    import {MapComponent} from "./js/map_component.js"
    import {SearchComponent} from "./js/search_component.js"
    import {InstallationsComponent} from "./js/installations_component.js"

    document.addEventListener("DOMContentLoaded", () => {
      let installationsComponent
      let searchComponent
      let mapComponent = new MapComponent({{.GoogleMapsApiKey}})

      mapComponent.initMap("map").then(()=> {
        installationsComponent = new InstallationsComponent('installations')
        searchComponent = new SearchComponent('search',
          () => {
            installationsComponent.clear()
            mapComponent.clear()
          },
          (params) => {
            updateUrlSearchParams(params)

            installationsComponent.clear()
            mapComponent.clear()

            new InstallationRequest().search(params)
              .then((installations) => {
                installations.forEach((installation, i) => {
                  installationsComponent.addInstallation(installation)
                  mapComponent.addInstallation(installation)
                })
              })
          }
        )

        document.querySelector('.search.process').addEventListener('click', (event) => {
          let processSelectorView = new ProcessSelectorView
          processSelectorView.load((code, desc) => {
            searchComponent.setProcess(code, desc)
            processSelectorView.hide()
          })
          processSelectorView.show()
        })

        document.querySelector('.search.waste').addEventListener('click', (event) => {
          var wasteListView = new WasteListView
          wasteListView.load((code, desc) => {
            wasteListView.select(code, desc)
            wasteListView.load((code, desc) => {
              wasteListView.select(code, desc)
              wasteListView.load((code, desc) => {
                searchComponent.setWaste(wasteListView.selectedCode, ...wasteListView.selectedDescs)
                wasteListView.hide()
              })
            })
          })
          wasteListView.show()
        })
      })

    })
  </script>
</html>
