<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>MBDO</title>

    <script src="/jquery-3.6.0.min.js"></script>
    <script src="/catalog.js?v=3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="ui grid container">
      <div class="sixteen wide column">
        <div class="ui menu">
          <a class="ui item" href="/">Katalog</a>
          <a class="ui item floated right" href="/">Zgłoś instalację</a>
        </div>
      </div>

      <div class="six wide column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">Szukaj instalacji</div>
          </div>
          <div class="content">
            <form class="ui search form">
              <div class="field">
                <label>Kod odpadu</label>
                <div class="ui icon input">
                  <input type="text" name="waste" placeholder="xxxxxx">
                  <i class="inverted circular search waste link icon"></i>
                </div>
                <div class="ui pointing label waste-hint code-a">Podaj kod odpadu</div>
                <div class="ui pointing label waste-hint code-b"></div>
                <div class="ui pointing label waste-hint code-c"></div>
              </div>
              <div class="field">
                <label>Proces przetwarzania</label>
                <div class="ui icon input">
                  <input type="text" name="process" placeholder="R1">
                  <i class="inverted circular search process link icon"></i>
                </div>
                <div class="ui pointing label process-hint">Podaj kod procesu przetwarzania</div>
              </div>
              <div class="field">
                <label>Województwo</label>
                <div class="ui icon input">
                  <select class="ui search selection dropdown" name="voivodeship">
                    <option value=""></option>
                    <option value="DS">dolnośląskie</option>
                    <option value="KP">kujawsko-pomorskie</option>
                    <option value="LU">lubelskie</option>
                    <option value="LB">lubuskie</option>
                    <option value="LD">łódzkie</option>
                    <option value="MA">małopolskie</option>
                    <option value="MZ">mazowieckie</option>
                    <option value="OP">opolskie</option>
                    <option value="PK">podkarpackie</option>
                    <option value="PD">podlaskie</option>
                    <option value="PM">pomorskie</option>
                    <option value="SL">śląskie</option>
                    <option value="SK">świętokrzyskie</option>
                    <option value="WN">warmińsko-mazurskie</option>
                    <option value="WP">wielkopolskie</option>
                    <option value="ZP">zachodniopomorskie</option>
                  </select>
                  <i class="inverted circular location arrow link icon"></i>
                </div>
              </div>
              <button class="ui button" type="submit">Szukaj</button>
            </form>
          </div>
          <!--
          <iframe width="450" height="250" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/MAP_MODE?key=YOUR_API_KEY&PARAMETERS" allowfullscreen>
          </iframe>
          -->
        </div>
      </div>

      <div class="ten wide column">
        <img class="ui fluid bordered image" src="map.png" />
      </div>

      <div class="ui modal processes">
        <div class="header">
          Wyszukaj proces przetwarzania
        </div>
        <div class="scrolling content">
          <table class="ui selectable compact celled table">
            <thead>
              <tr>
                <th>Kod</th>
                <th>Opis</th>
              </tr>
            </thead>
            <template class="process-row-template">
              <tr class="process">
                <td class="code"></td>
                <td class="description"></td>
              </tr>
            </template>
            <tbody class="process-list">
            </tbody>
          </table>
        </div>
        <div class="actions">
          <div class="ui basic cancel button">
            <i class="checkmark icon"></i>
            Anuluj
          </div>
        </div>
      </div>

      <div class="ui modal wastes">
        <div class="header">
          Wyszukaj kod odpadu
        </div>
        <div class="scrolling content">
          <table class="ui selectable compact celled table">
            <template class="waste-header-row-template">
              <tr class="selected-waste-header">
                <th class="code"></th>
                <th class="description"></th>
              </tr>
            </template>
            <thead class="waste-list-header">
              <tr>
                <th>Kod</th>
                <th>Opis</th>
              </tr>
            </thead>
            <template class="waste-row-template">
              <tr class="waste">
                <td class="code"></td>
                <td class="description"></td>
              </tr>
            </template>
            <tbody class="waste-list">
            </tbody>
          </table>
        </div>
        <div class="actions">
          <div class="ui basic cancel button">
            <i class="checkmark icon"></i>
            Anuluj
          </div>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui two cards">
          <%= erb :'lorem_ipsum.html', layout: false %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(function() {
        $('select.dropdown').dropdown()
        $('.ui.form .waste-hint.code-b').hide()
        $('.ui.form .waste-hint.code-c').hide()
        $('.ui.form').trigger("reset")

        class SearchView {
          constructor(selector) {
            this.selector = selector
            this.element = $(selector)
          }

          setProcess(code, description) {
            this.element.find('input[name="process"]').val(code)
            this.element.find('.process-hint').text(description)
          }

          setWaste(code, descA, descB, descC) {
            $('.search input[name="waste"]').val(code)
            $('.search .waste-hint.code-a').text(descA)
            $('.search .waste-hint.code-b').show()
            $('.search .waste-hint.code-b').text(descB)
            $('.search .waste-hint.code-c').show()
            $('.search .waste-hint.code-c').text(descC)
            }
        }

        class ProcessRowBuilder {
          static build(code, desc, callback) {
            var template = $($('.process-row-template').html())
            template.find('.code').text(code)
            template.find('.description').text(desc)
            template.click((event) => {
              callback(code, desc)
            })
            return template
          }
        }

        class WasteRowTemplate {
          static build(code, desc, callback) {
            var template = $($('.waste-row-template').html())
            template.find('.code').text(code)
            template.find('.description').text(desc)
            template.click((event) => {
              callback(code, desc)
            })
            return template
          }
        }

        class WasteHeaderRowTemplate {
          static build(code, desc) {
            template = $($('.waste-header-row-template').html())
            template.find('.code').text(code)
            template.find('.description').text(desc)

            return template
          }
        }

        var searchView = new SearchView('.search')

        $('.search.process').click((event) => {
          modal = $('.ui.modal.processes')
          modal.find('.process-list').html('')
          for (code in processDescs) {
            template = ProcessRowBuilder.build(code, processDescs[code], (code, desc) => {
              searchView.setProcess(code, desc)
              modal.modal('hide')
            })
            modal.find('.process-list').append(template)
          }
          modal.modal('show')
        })

        class WasteListView {
          constructor() {
            this.modal = $('.ui.modal.wastes')
            this.modal.find('.selected-waste-header').remove()
            this.modal.find('.waste-list').html('')
          }


          selectWaste(code, desc) {

          }

        }

        $('.search.waste').click((event) => {
          modal = $('.ui.modal.wastes')
          modal.find('.selected-waste-header').remove()
          modal.find('.waste-list').html('')
          codes['00'].forEach((code, i) => {
            desc = codeDescs[code]
            template = WasteRowTemplate.build(code, codeDescs[code], (code, desc) => {
              codeA = code
              descriptionA = desc
              modal.find('.waste-list-header').append(WasteHeaderRowTemplate.build(codeA, desc))
              modal.find('.waste-list').html('')

              codes[codeA].forEach((code, i) => {
                desc = codeDescs[code]
                template = WasteRowTemplate.build(code, codeDescs[code], (code, desc) => {
                  codeB = code
                  descriptionB = desc
                  modal.find('.waste-list-header').append(WasteHeaderRowTemplate.build(codeB, desc))
                  modal.find('.waste-list').html('')

                  codes[codeB].forEach((code, i) => {
                    desc = codeDescs[code]
                    template = WasteRowTemplate.build(code, codeDescs[code], (code, desc) => {
                      descriptionC = desc
                      searchView.setWaste(code, descriptionA, descriptionB, descriptionC)
                      modal.modal('hide')
                    })
                    modal.find('.waste-list').append(template)
                  })

                })
                modal.find('.waste-list').append(template)
              })
            })
            modal.find('.waste-list').append(template)

          })
          modal.modal('show')
        })

        $('.ui.form .button').click((event) => {
          event.preventDefault()
          $('.ui.cards').toggle()
          var valueA
          var valueB
          var valueC
          code = $('.ui.form .field [name=waste]').val()
          console.log(code)
          codeA = code.slice(0, 2)
          codeB = code.slice(0, 4)
          codeC = code.slice(0, 6)
          if(codeA.length < 2) {
            codeA = ''
          }
          if(codeB.length < 4) {
            codeB = ''
          }
          if(codeC.length < 6) {
            codeC = ''
          }
          if(codeA) {
            valueA = codeDescs[codeA]
          }
          if(codeB) {
            valueB = codeDescs[codeB]
          }
          if(codeC) {
            valueC = codeDescs[codeC]
          }

          if(valueA) {
            $('.ui.form .waste-hint.code-a').text(valueA)
          } else {
            $('.ui.form .waste-hint').text("Nieznany kod")
          }
          if(valueB) {
            $('.ui.form .waste-hint.code-b').show()
            $('.ui.form .waste-hint.code-b').text(valueB)
          } else {
            $('.ui.form .waste-hint.code-b').hide()
          }
          if(valueC) {
            $('.ui.form .waste-hint.code-c').show()
            $('.ui.form .waste-hint.code-c').text(valueC)
          } else {
            $('.ui.form .waste-hint.code-c').hide()
          }

          var value
          process = $('.ui.form .field [name=process]').val()
          if(process) {
            process = process.toUpperCase()
            $('.ui.form .field [name=process]').val(process)
            value = processDescs[process]
          }
          if(value) {
            $('.ui.form .process-hint').text(value)
          } else {
            $('.ui.form .process-hint').text("Nieznany kod")
          }
        })

      })
    </script>
  </body>
</html>
