<% 4.times do %>
  <div class="ui fluid card">
    <div class="content">
      <div class="header">Instalacja wysoko wyspecjalizowana</div>
      <div class="meta">podkarpackie, Dębica</div>
      <div class="description">
        <div class="ui large labels">
          <div class="ui label">
            <span class="ui label">01 01 01</span>
            <span class="ui orange label">D1</span>
            <span class="ui olive label">0,150</span>
          </div>
          <div class="ui label">
            <span class="ui label">01 01 02</span>
            <span class="ui teal label">R3</span>
            <span class="ui olive label">1,250</span>
          </div>
          <div class="ui label">
            <span class="ui label">01 01 01</span>
            <span class="ui teal label">R1</span>
            <span class="ui purple label">1500</span>
          </div>
          <div class="ui label">
            <span class="ui label">02 01 01</span>
            <span class="ui teal label">R1</span>
            <span class="ui olive label">0,150</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">Żaden odpad nam nie straszny</div>
      <div class="meta">podkarpackie, Dębica</div>
      <div class="description">
        <div class="ui large labels">
          <div class="ui large label">
            <span class="ui label">01 01 01</span>
            <span class="ui teal label">R1</span>
            <span class="ui olive label">0,150</span>
          </div>
          <div class="ui large label">
            <span class="ui label">01 01 02</span>
            <span class="ui orange label">D3</span>
            <span class="ui olive label">0,150</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui fluid card">
    <div class="content">
      <div class="header">Przetwarzaj razem z nami</div>
      <div class="meta">podkarpackie, Dębica</div>
      <div class="description">
        <div class="ui large labels">
          <div class="ui large label">
            <span class="ui label">01 01 01</span>
            <span class="ui teal label">R1</span>
            <span class="ui olive label">0,300</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

