<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>BDO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <span id="google-maps-api-key" data-value="{{.GoogleMapsApiKey}}"></span>

    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><h1>BDO</h1></a>
      </div>
    </nav>

    <div class="columns">
      <div class="column is-half">
        <section class="section">
          <div class="search panel" id="search">
            <div class="panel-heading">
              <p>Szukaj instalacji</p>
            </div>
            <div class="panel-block">
              <form>
                <div class="field">
                  <label class="label">Kod odpadu</label>
                  <div class="control">
                    <input type="text" name="waste" placeholder="xxxxxx">
                    <button class="button is-small is-link search waste">Wybierz</button>
                  </div>
                  <em class="waste-hint code-a"></em>
                  <em class="waste-hint code-b"></em>
                  <em class="waste-hint code-c"></em>
                </div>

                <div class="field">
                  <label class="label">Proces przetwarzania</label>
                  <div class="control">
                    <input type="text" name="process" placeholder="Rx/Dx">
                    <button class="button is-small is-link search process">Wybierz</button>
                  </div>
                  <em class="process-hint"></em>
                </div>

                <div class="field">
                  <label class="label">Województwo</label>
                  <div class="control">
                    <select class="select" name="state">
                      <option value=""></option>
                      <option value="02">dolnośląskie</option>
                      <option value="04">kujawsko-pomorskie</option>
                      <option value="06">lubelskie</option>
                      <option value="08">lubuskie</option>
                      <option value="10">łódzkie</option>
                      <option value="12">małopolskie</option>
                      <option value="14">mazowieckie</option>
                      <option value="16">opolskie</option>
                      <option value="18">podkarpackie</option>
                      <option value="20">podlaskie</option>
                      <option value="22">pomorskie</option>
                      <option value="24">śląskie</option>
                      <option value="26">świętokrzyskie</option>
                      <option value="28">warmińsko-mazurskie</option>
                      <option value="30">wielkopolskie</option>
                      <option value="32">zachodniopomorskie</option>
                    </select>
                  </div>
                </div>

                <button class="button is-link" type="submit">Szukaj</button>
                <button class="button is-link is-light" type="reset">Wyczyść</button>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <div class="image is-2by1" id="map"></div>
            </div>
          </div>
        </section>
      </div>

      <div class="column">
        <section class="section">
          <div class="container">
            <div class="tabs" data-view-selector>
              <ul>
                <li class="is-active" data-view="installations" data-active><a href="/instalacje">Instalacje</a></li>
                <li data-view="capabilities"><a href="/mozliwosci">Możliwości</a></li>
              </ul>
            </div>
            <div id="installations"></div>
          </div>
        </section>

      </div>
    </div>

    <template id="code-desc-row-template">
      <tr>
        <td class="code-slot"></td>
        <td class="description-slot"></td>
        <td class="select-action"><button class="button is-small is-rounded">-></button></td>
      </tr>
    </template>
    <template id="code-desc-header-row-template">
      <tr class="selected-header is-selected">
        <th class="code"></th>
        <th class="description"></th>
      </tr>
    </template>

    <template id="installation-capability-template">
      <tr class="capability">
        <td class="waste-code"></td>
        <td class="process-code"></td>
        <td class="quantity"></td>
      </tr>
    </template>

    <template id="code-template">
        <span class="tag code-slot"></span>
    </template>

    <template id="installation-template">
      <div class="panel installation">
        <header class="panel-heading">
          <p class="header name-slot"></p>
          <p class="tag address-slot"></p>
        </header>
        <section class="panel-block">
          <div class="tags waste-codes-slot">
          </div>
        </section>
        <section class="panel-block">
          <div class="tags process-codes-slot">
          </div>
        </section>
        <section class="panel-block">
          <button class="button show-details-action is-link is-fullwidth">Szczegóły</button>
        </section>
      </div>
    </template>

    <div class="modal processes">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            Wyszukaj proces przetwarzania
          </p>
          <button class="cancel button modal-close is-large" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="table-container">
            <table class="table is-narrow is-striped">
              <thead class="list-header">
                <tr>
                  <th>Kod</th>
                  <th>Opis</th>
                </tr>
              </thead>
              <tbody class="list">
              </tbody>
            </table>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="cancel button is-link is-fullwidth">Anuluj</button>
          <button class="accept button is-link is-fullwidth" disabled>Wybierz</button>
        </footer>
      </div>
    </div>

    <div class="modal wastes">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            Wyszukaj kod odpadu
          </p>
          <button class="cancel button modal-close is-large" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="table-container">
            <table class="table is-narrow is-striped">
              <thead class="list-header">
                <tr>
                  <th>Kod</th>
                  <th>Opis</th>
                </tr>
              </thead>
              <tbody class="list">
              </tbody>
            </table>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="cancel button is-link is-fullwidth">Anuluj</button>
          <button class="accept button is-link is-fullwidth" disabled>Wybierz</button>
        </div>
      </div>
    </div>

    <template id="modal-card">
      <div class="modal" data-modal>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              <span data-modal-title></span>
              <p class="tag"><span data-modal-subtitle></span></p>
            </p>
            <button class="button delete" aria-label="close" data-close-modal></button>
          </header>
          <section class="modal-card-body" data-modal-body>
          </section>
          <footer class="modal-card-foot">
            <button class="cancel button is-link is-fullwidth" data-close-modal>
              Zamknij
            </button>
          </footer>
        </div>
      </div>
    </template>
    <span id="capabilities-modal"></span>
    <span id="materials-modal"></span>

    <script src="/assets/main.js?q=1"></script>
  </body>
</html>
